.video {
  margin-right: 1rem;
  border-radius: var(--border-radius);
  width: 350px;
  height: 250px;
  box-shadow: 0 0 1px #000;

  iframe {
    width: 350px;
    height: 250px;
    border-radius: var(--border-radius);
  }
}
