.main-menu {
  width: 230px;
  min-height: 100vh;
  position: fixed;
  z-index: 4;
  padding: 0 1rem;
  //box-shadow: 15px 0px 10px -15px #111;
  //box-shadow: 0 1px 2px #000;
  // background: var(--blue);
  // color: #fff;

  &--title {
    position: fixed;
    top: 0rem;
    z-index: 2;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

    h1 {
      width: 100%;
      text-align: center;
      font-weight: 500;
      background: var(--blue);
      color: #fff;
      border-radius: var(--border-radius);
      box-shadow: 0px 15px 5px -14px #111;

      height: 57px;
      margin: 0;

      letter-spacing: 0px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      .first {
        margin-right: 1.1rem;
      }

      .last {
        margin-left: 1.1rem;
      }

      .icon {
        position: absolute;
        left: 7rem;
        top: 0.5rem;
        font-size: 2.5rem;
      }
    }

    h1:hover span {
      filter: brightness(80%);
      transition: var(--transition);
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;

  &__inner {
    width: 230px;
    min-height: 100vh;
    position: fixed;
    z-index: 5;
    transform: translate(-100%);
    box-shadow: 1px 0 5px #000;
    transition: transform 0.3s ease;
    //padding: 0.5rem;

    &--title {
      position: fixed;
      top: 0rem;
      z-index: 2;
      width: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--blue);
      color: #fff;
      padding: 0px 0;

      h1 {
        width: 100%;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid var(--blue);

        height: 57px;
        margin: 0;

        letter-spacing: 0px;
        background: transparent;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        .first {
          margin-right: 1.1rem;
        }

        .last {
          margin-left: 1.1rem;
        }

        .icon {
          position: absolute;
          left: 7rem;
          top: 0.5rem;
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .main-menu {
    display: none;
  }
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
