.library {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  letter-spacing: 0.5px;
  cursor: pointer;

  img {
    width: 30%;
    border-radius: 3px;
  }
  &:hover {
    img {
      box-shadow: 2px 2px 5px #000;
    }
  }
}

.song-description {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(255, 211, 226);
  background: darkorchid;

  img {
    box-shadow: 2px 2px 5px #000;
  }

  h3,
  h4 {
    color: #fff;
  }
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
